APScheduler==3.6.3
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1605902088619/work
cryptography==3.3.1
decorator==4.4.2
fastkml==0.11
Fiona==1.8.18
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1608050797851/work
fuzzywuzzy==0.18.0
GDAL==3.1.4
geographiclib==1.50
geojson==2.5.0
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1594925563431/work
geopy==2.1.0
idna==2.10
munch==2.5.0
numpy @ file:///D:/bld/numpy_1610324712085/work
pandas @ file:///D:/bld/pandas_1609079442779/work
pycparser==2.20
pygeoif==0.7
pyproj==3.0.0.post1
pyshp==2.1.2
python-dateutil==2.8.1
python-Levenshtein==0.12.0
python-telegram-bot==13.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1608904108784/work
requests==2.25.1
Rtree @ file:///D:/bld/rtree_1610147304955/work
Shapely==1.7.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
soupsieve==2.1
SudachiDict-core==20200722
tika==1.24
tornado==6.1
tzlocal==2.1
urllib3==1.26.2
wincertstore==0.2
